body {
	margin: auto;
	width: 100%;
	font-family: Arial;
	font-size: 2em;
	background: #fff;
}

b {
	color: #811;
}

a {
	text-decoration: none;
	color: #00f;
}

a:hover {
	color: #338;
	text-decoration: underline;
}

a:focus {
	outline: none;
}

img {
	border: none;
}

div {
	float: left;
	padding: 0;
}

h1 {
	font-size: 5em;
	margin: 0.2em 0 0.2em 1em;
}

h2 {
	font-size: 3em;
	margin: 1em 0 0.2em 3em;
}

#title {
	width: 100%;
	padding: 0;
	background-color: #333;
	color: #fff;
}

#title a {
	color: #fff;
}

#content {
	width: 100%;
	text-align: justify;
	padding: 0;
}

#humanstxt {
	float: right;
}

table {
	width: 100%;
}

table tr td {
	text-align: center;
}

table tr td img {
	width: 100%;
}
